frontend/node_modules
backend/node_modules
.env
.DS_Store
/build
/dist
.expo
.vscode
.idea
npm-debug.log
yarn-error.log
coverage
.env.local
.env.development.local
.env.test.local
.env.production.local
__tests__
